<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>     
    {{>navbar}}
    <div class="home">
        <img src="/images/images.jpg" alt="MK"/>
        <h1 style="text-align: center;">Employee Details</h1>
        <p>Login to view the details</p>
    </div>
    {{>footer}}
</body>
</html>